<header>
    <div class="d-flex justify-content-center">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'password_generator:index' %}">Password generator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'humans:show_all' %}">Humans</a>
            </li>
        </ul>
    </div>
</header>
