{% extends '_helpers/_base.html' %}

{% block body %}
    <a href="{% url 'humans:create' %}">
        <button class="btn btn-primary">Go to human creation</button>
    </a>

    <ol>
        {% for human in object_list %}
            <li style="margin: .2em">
                {% if human.avatar %}
                    <img class="human-avatar" src="{{ human.avatar.url }}" alt="{{ human.name }}"/>
                {% endif %}

                <span>{{ human.name }} - {{ human.age }}</span>

                <a href="{% url 'humans:edit' pk=human.pk %}">
                    <button class="btn btn-primary">Edit</button>
                </a>
                <a href="{% url 'humans:delete' pk=human.pk %}">
                    <button class="btn btn-danger">Delete</button>
                </a>
            </li>
        {% endfor %}
    </ol>
{% endblock %}